.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #000000;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #38bdf8;
}
